<nav class="main__nav">
	<button class="close-nav">
		<svg>
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
		</svg>
	</button>
	<ul>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Home</a>
			<!-- <ul>
				<li><a href="#">test page</a></li>
				<li><a href="#">test</a></li>
				<li><a href="#">test pagetest page</a></li>
			</ul> -->
		</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Home</a>
		</li>
	</ul>
</nav>
