<section class="content-area">
  <div class="content-area--container">
    <div class="content-sidebar">
      <h3>It's a bit like the frog in the saucepan...</h3>
      <div class="portlet light-gold">
        <img src="../resources/imgs/frog.png" alt="" class="img-overflow"/>
        <p class="first">
          Small and medium size enterprises are generally busy doing the thing they do best - plying their trade or profession. Change rarely arrives announced. Evolution, not revolution, is the natural order. It is a creeping progressive thing.
        </p>
        <p>
          It's a bit like the frog in the saucepan...
        </p>
        <a href="#" class="cta">Find out more <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
        <img src="../resources/imgs/portlet_image.jpg" alt="Portlet Image" class="large-portlet-image">
      </div>
      <div class="portlet green">
        <div class="portlet__icon--container">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sport-32px-outline_tactic"></use></svg>
          <h4>Do you need strategic planning?</h4>
        </div>
        <a href="#" class="cta">Find out more <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
      </div>
      <div class="portlet blue">
        <div class="portlet__icon--container">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#business-32px-outline_bulb-61"></use></svg>
          <h4>No value NO fee</h4>
        </div>
        <a href="#" class="cta">Find out more <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
      </div>
      <div class="portlet dark-blue">
        <div class="portlet__icon--container">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transportation-32px-outline_boat-small-02"></use></svg>
          <h4>JFP Supported Charities</h4>
        </div>
        <a href="#" class="cta cta-first">Round the island race <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
        <a href="#" class="cta">Transatlantic Race <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
        <a href="#" class="cta">Sydney Hobart Race <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></use></svg></span></a>
      </div>
    </div>
    <div class="content-main">
      <h2>Strategic Business Planning and Implementation for SMEs</h2>
      <div class="content-item">
        <h5><a href="#">Heading number one <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></a></use></svg></h5>
        <p>
          Orci cubilia vestibulum eros turpis luctus vestibulum dapibus eget metus conubia suscipit habitant torquent ut id a duis a montes. Dui a risus erat parturient dignissim facilisi senectus egestas dui accumsan a nulla scelerisque condimentum consectetur etiam aptent parturient penatibus amet.
        </p>
      </div>
      <div class="content-item">
        <h5><a href="#">Heading number two <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></a></use></svg></h5>
        <p>
          Orci cubilia vestibulum eros turpis luctus vestibulum dapibus eget metus conubia suscipit habitant torquent ut id a duis a montes. Dui a risus erat parturient dignissim facilisi senectus egestas dui accumsan a nulla scelerisque condimentum consectetur etiam aptent parturient penatibus amet.
        </p>
      </div>
      <div class="content-item">
        <h5><a href="#">Heading number three <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></a></use></svg></h5>
        <p>
          Orci cubilia vestibulum eros turpis luctus vestibulum dapibus eget metus conubia suscipit habitant torquent ut id a duis a montes. Dui a risus erat parturient dignissim facilisi senectus egestas dui accumsan a nulla scelerisque condimentum consectetur etiam aptent parturient penatibus amet.
        </p>
      </div>
      <div class="content-item">
        <h5><a href="#">Heading number four <span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right-triangle"></a></use></svg></h5>
        <p>
          Orci cubilia vestibulum eros turpis luctus vestibulum dapibus eget metus conubia suscipit habitant torquent ut id a duis a montes. Dui a risus erat parturient dignissim facilisi senectus egestas dui accumsan a nulla scelerisque condimentum consectetur etiam aptent parturient penatibus amet.
        </p>
      </div>
      <div class="content-cta">
        <div class="cta-item">
          <div>
            <h4>4 key lessons</h4>
            <h5>25 years of experience</h5>
          </div>
          <div>
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media-32px-outline-1_play-69"></use></svg>
          </div>
        </div>
        <div class="cta-item">
          <div>
            <h4>JFP in a nutshell</h4>
            <h5>25 years of empathy</h5>
          </div>
          <div>
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media-32px-outline-1_play-69"></use></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
