<section class="slider">
  <div class="slider--container">
    <div class="slider__items">
      {{> slider_item_01}}
      {{> slider_item_02}}
      {{> slider_item_03}}
      {{> slider_item_01}}
      {{> slider_item_02}}
      {{> slider_item_03}}
      {{> slider_item_01}}
      {{> slider_item_02}}
      {{> slider_item_03}}
      {{> slider_item_01}}
      {{> slider_item_02}}
      {{> slider_item_03}}
    </div>
  </div>
</section>
