<!-- <div class="slider__item"> -->
    <div class="slider__content">
      <div class="slider__icon">
        <svg>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media-32px-outline-1_brightness-46"></use>
        </svg>
      </div>
      <div class="slider__body">
        <h4>A Facilitated and Interactive Top Line Review Service</h4>
        <h5>Planning for the top line growth you need</h5>
      </div>
    </div>
<!-- </div> -->
