<section class="slider">
  <div class="slider--container">
    <div class="slider__items">
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
      {{> slider_item}}
    </div>
  </div>
</section>
