.content-main {
  width: 100%;
  .flexbox();
  .flex-direction(column);
  transform: 0.3s all ease;
  padding-left: 0;

  @media(min-width: @sm-min) {
      padding-left: 3.2rem;
  }

  h2 {
    font-size: 3.2rem;
    color: @blue-light;
    padding-bottom: 1.3rem;
    padding-right: 0;
    border-bottom: 1px solid;
    margin: 0 0 1.8 0;
    font-family: 'myriad-set-pro-thin';

    @media(min-width: @sm-min) {
      margin: 0 0 3rem 0;
      padding-bottom: 1rem;
      font-size: 3.8rem;
      color: @blue-light;
    }

    @media(min-width: @md-min) {
      padding-right: 10rem;
    }
  }

  .content-item {
    margin-bottom: 1.5rem;

    h5 {
      color: @blue-lightest;
      font-size: 2.1rem;
      margin: 0;
      font-weight: 700;
      padding-bottom: 0.5rem;

      .flexbox();
      .align-items(center);

      @media(min-width: @md-min) {
        padding-bottom: 1.1rem;
        font-size: 1.8rem;
      }

      span {
        width: 1.8rem;
        height: 1.8rem;
        display: block;
        margin-left: 0.5rem;

        svg {
          display: block;
          width: inherit;
          height: inherit;
          fill: @blue-light;
        }
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.2;
      color: @content-body;

      @media(min-width: @sm-min) {
        line-height: 1.25;
      }

      @media(min-width: @md-min) {
        font-size: 1.8rem;
      }
    }

  }

  .content-cta {
    .flexbox();
    .flex-wrap(wrap);
    margin-bottom: 3.4rem;

    @media(min-width: @xs-min) {
      .justify-content(space-between);
    }

    @media(min-width: @sm-min) {
      .flex-wrap(nowrap);
      margin-bottom: 0;
    }

    @media(min-width: @md-min) {
      .justify-content(space-between);
    }
  }

  .cta-item {
    width:100%;
    height: 11.7rem;
    .flexbox();
    .align-items(center);
    .justify-content(space-between);
    background: url('../imgs/video_bg.jpg') no-repeat;
    padding: 0 2rem;

    @media(min-width: @xs-min) {
      width:48%;
    }

    @media(min-width: @sm-min) {
      width: 21.7rem;
      height: 6.7rem;
      padding: 0 1rem;
    }

    @media(min-width: @md-min) {
      width:47%;
      height: 11.7rem;
      padding: 0 2rem;
    }

    @media(min-width: @lg-min) {
      width:38rem;
      height: 11.7rem;
      padding: 0 2rem;
    }

    &:first-child {
      margin-right: 0;
      margin-bottom: 1rem;

      @media(min-width: @sm-min) {
        margin-right: 3.9rem;
      }
    }

    svg {
      width: 6.2rem;
      height: 6.2rem;
      display: block;

      @media(min-width: @sm-min) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media(min-width: @md-min) {
        width: 6.2rem;
        height: 6.2rem;
      }
    }

    h4,
    h5 {
      color: @white;
      margin: 0;
    }

    h4 {
      font-size: 3.6rem;

      @media(min-width: @sm-min) {
        font-size: 2.1rem;
      }

      @media(min-width: @md-min) {
        font-size: 3.6rem;
      }
    }

    h5 {
      font-size: 2.1rem;

      @media(min-width: @sm-min) {
        font-size: 1.5rem;
      }

      @media(min-width: @md-min) {
        font-size: 2.1rem;
      }
    }
  }
}
